# dependencies
node_modules

# next
.next
.next-dev
out

# production
build

# local env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
next-dev*.log

# misc
tmp/
.DS_Store
*.pem
scripts/restore-vault-now.mjs
*.mjs
!netlify/functions/*.mjs
!scripts/configure-supabase-auth.mjs
/scripts
